name: Preparant per producci贸
run-name: ${{ github.actor }} est pujant l'aplicaci贸 a PROD 
on:
  push:
    branches: [ main ]
jobs:
  Pujar-a-produccio-amb-SCP:
    runs-on: ubuntu-latest
    steps:
      - name: Obtenint el codi del repositori
        uses: actions/checkout@v4
      
      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: actions-vue/package-lock.json
      
      - name: Instal路lar depend猫ncies
        working-directory: ./actions-vue
        run: npm ci
      
      - name: Construir l'aplicaci贸
        working-directory: ./actions-vue
        run: npm run build
      
      - name: scp a produccio
        run: |
          echo "${{ secrets.PROD_KEY }}" > ~/prod_key.pem
          chmod 600 ~/prod_key.pem
          cd ${{ github.workspace }}
          echo "Action desplegant a produccio" > ./actions-vue/last_deploy.txt
          date >> ./actions-vue/last_deploy.txt
          scp -r -o stricthostkeychecking=no -o UserKnownHostsFile=/dev/null -i "~/prod_key.pem" ./actions-vue/dist/* ${{ secrets.PROD_USER }}@${{ secrets.PROD_HOST }}:/home/a23lucbensoj/web/a23lucbensoj.daw.inspedralbes.cat/public_html/actions/
      
      - run: echo " This job's status is ${{ job.status }}."